@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

header {
    background-image:url(imagens\ site/fundo\ header.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding:0pt;
    margin:0%;
}

ul {
    padding:10pt;
    margin:10pt;
    list-style:none;
    text-align:end;
}

ul li { 
    display: inline; 
}

ul li a {
    padding: 2px 10px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size:69px;
    font-weight: 100;
    font-stretch: expanded;
    text-align:center;
    color:rgb(243, 243, 217) ;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size:42px;
    font-weight:lighter;
    font-stretch: expanded;
    text-align:center;
    color:black ;
	margin-bottom:5pt;
}

div.wrapper{
    position:relative;
    width: 70%;
    align-items: center;
    margin-left: 10%;

}

iframe{
    align-items: center;

}
#texto{
    text-align: center;
    padding-left:40pt;
    padding-right:40pt;
}

#info{
    padding:20pt;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
}

p {
    font-size:15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}